
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCiudadLabel" data-translate="pru1App.ciudad.home.createOrEditLabel">Create or edit a Ciudad</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ciudad.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ciudad.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.ciudad.nombre"
                    required ng-minlength="3" ng-maxlength="20" />
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nombre.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nombre.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="vm.ciudad.cantidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.ano" for="field_ano">Ano</label>
            <input type="number" class="form-control" name="ano" id="field_ano"
                    ng-model="vm.ciudad.ano"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.ciudad.createdBy"
                    ng-maxlength="50" />
            <div ng-show="editForm.createdBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdBy.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.ciudad.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.modifiedBy" for="field_modifiedBy">Modified By</label>
            <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                    ng-model="vm.ciudad.modifiedBy"
                    ng-maxlength="50" />
            <div ng-show="editForm.modifiedBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.modifiedBy.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pru1App.ciudad.modifiedDate" for="field_modifiedDate">Modified Date</label>
                <div class="input-group">
                    <input id="field_modifiedDate" type="text" class="form-control" name="modifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.ciudad.modifiedDate" is-open="vm.datePickerOpenStatus.modifiedDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="pru1App.ciudad.pais" for="field_pais">Pais</label>
            <select class="form-control" id="field_pais" name="pais" ng-model="vm.ciudad.pais" ng-options="pais as pais.paisNombre for pais in vm.pais track by pais.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
