<div>
    <h2 data-translate="pru1App.pais.home.title">Pais</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pais.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="pru1App.pais.home.createLabel">
                        Create new Pais
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
    <table class="table table-striped tabla-pais">
        <!--<table class="jh-table table table-striped">-->
            <thead>
            <tr>    
                <th>ID</th>
                <th>Código país</th>
                <th>Nombre</th>
                <th>Acciones</th>
                 <!--
                  <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                 
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paisId"><span data-translate="pru1App.pais.paisId">Pais Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paisNombre"><span data-translate="pru1App.pais.paisNombre">Pais Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
               
                    <th jh-sort-by="createdBy"><span data-translate="pru1App.pais.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="pru1App.pais.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedBy"><span data-translate="pru1App.pais.modifiedBy">Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span data-translate="pru1App.pais.modifiedDate">Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                -->

                </tr>
            </thead><tfoot>
                <th>ID</th>
                <th>Código país</th>
                <th>Nombre</th>
                <th>Acciones</th>  
            </tfoot>
            <tbody>
                <tr ng-repeat="pais in vm.pais track by pais.id">
                    <td><a ui-sref="pais-detail({id:pais.id})">{{pais.id}}</a></td>
                    <td>{{pais.paisId}}</td>
                    <td>{{pais.paisNombre}}</td>
                  <!--  
                    <td>{{pais.createdBy}}</td>
                    <td>{{pais.createdDate | date:'medium'}}</td>
                    <td>{{pais.modifiedBy}}</td>
                    <td>{{pais.modifiedDate | date:'medium'}}</td>
                   --> 
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pais-detail({id:pais.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pais.edit({id:pais.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pais.delete({id:pais.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
